body{
background-color: #5f5f5f;

}


.ClassOneDiv{
    background: rgb(138, 138, 138);
    color: rgb(44, 44, 44); 
    border: rgb(45, 52, 58);
    border-width: 4px; 
    border-style: solid;
    
    
}


#CustomidTwo{
    background: rgb(138, 138, 138);
    color: rgb(44, 44, 44); 
    border: rgb(45, 52, 58);
    border-width: 4px; 
    border-style: solid;
    text-decoration: underline;
}