body{
background-color: #242424;

}


.ClassOneDiv{
    background: rgb(138, 138, 138);
    color: rgb(44, 44, 44); 
    border: rgb(45, 52, 58);
    border-width: 4px; 
    border-style: solid;
    
    
}


#CustomidTwo{
    background: rgb(138, 138, 138);
    color: rgb(44, 44, 44); 
    border: rgb(45, 52, 58);
    border-width: 4px; 
    border-style: solid;
    text-decoration: underline;
}


.tableClassOne{
    color: white;
}

.tableblock1{
    background: rgb(20, 20, 20);
}

.marquee1{
    color: white;
}

.RankingHeader{
    background: rgb(138, 138, 138);
    color: rgb(44, 44, 44); 
    border: rgb(45, 52, 58);
    border-width: 4px; 
    border-style: solid;
    text-decoration: underline;
}